* {
  margin: 0;
  padding: 0;
}
html,body{
  width: 100%;
  height:100%;
}
#__nuxt, #__nuxt>div, #box{
  height: 100%;
}
#box{
  position: relative;
}
#box>div{
  /*filter: blur(15px);*/
  /*-webkit-filter: blur(15px);*/
}
#baner{
  /*filter: blur(15px);*/
  /*-webkit-filter: blur(15px);*/
}
#lead{
  /*filter: blur(15px);*/
  /*-webkit-filter: blur(15px);*/
}
.el_navs {
  width: 750px;
  overflow-x: scroll;
  border-bottom: 1px solid #e3e3e3;
  /*filter: blur(15px);*/
  /*-webkit-filter: blur(15px);*/
}
.el_navs>ul {
  width: 999px;
  overflow-x: scroll;
  margin-left: 32px;
}
.el_navs>ul>li {
  font-size: 28px;
  padding: 18px 30px;
  float: left;
}
.active {
  border-bottom: 6px solid rgb(234,81,47);
}
.clear:after {
  content: "";
  display: block;
  clear: both;
}
#goods{
  height:calc(100% - 500px);
  overflow-y: auto;
  /*filter: blur(15px);*/
  /*-webkit-filter: blur(15px);*/
}
.el_goods {
  margin-top: 18px;
  height: 180px;
  padding-bottom: 18px;
  border-bottom: 1px solid #e3e3e3;
  box-sizing: content-box;
}
.el_goods>div {
  float: left;
}
.el_img {
  width: 180px;
  height: 180px;
  background: rgb(255,255,255);
  margin-left: 32px;
}
.el_img>img{
  width: 180px;
  height: 180px;
}
.el_bewrite {
  margin-left: 28px;
  font-size: 28px;
}
.el_bewrite>ul {
  margin-top: -10px;
}
.el_bewrite>ul>li:first-child {
  width: 485px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  top: 16px;
}
li {
  list-style: none;
}
.el_bewrite>ul>li:nth-child(2) {
  font-size: 26px;
  color: rgb(153,153,153);
  margin-top: 54px;
  margin-bottom: 14px;
}
.el_bewrite>ul>li:nth-child(2)>span:first-child {
  font-size: 24px;
}
.el_bewrite>ul>li:last-child {
  color: rgb(234,81,47);
}
.el_bewrite>ul>li:last-child>span:first-child {
  font-size: 26px;
}
.el_bewrite>ul>li:last-child>span:last-child {
  font-size: 26px;
  color: rgb(153,153,153);
  text-decoration: line-through;
  margin-left: 24px;
}
.el_banner{
  width: 750px;
  height: 230px;
  background: rgb(235,97,0);
  position: relative;
  background-repeat: round;
}
.el_inform{
  width: 170px;
  height: 50px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background: rgba(0,0,0,0.61);
  text-align: center;
  line-height: 50px;
  position: absolute;
  right: 0;
  bottom: 32px;
  color: #ffffff;
  font-size: 26px;
  box-sizing: border-box;
  padding-left: 15px;
}
.el_dailog {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  z-index: 2;
}
.el_window1 {
  width: 605px;
  height: 358px;
  background: #ffffff;
  position: absolute;
  border-radius: 8px;
  color: #666666;
  z-index: 2;
}
.el_window2 {
  width: 605px;
  height: 828px;
  background: #ffffff;
  position: absolute;
  border-radius: 8px;
  color: #666666;
  z-index: 2;
  overflow-y: auto;
}
.el_window2>p:last-child{
  text-indent: 24px;
  padding: 0 24px;
  font-size: 24px;
  text-align: left;
  white-space: pre-wrap;
}
.el_window1>.el_cloose, .el_window2>.el_cloose {
  position: absolute;
  right: 24px;
  top: 6px;
  font-size: 28px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}
.el_explain {
  width: 100%;
  height: 230px;
  padding: 60px 30px 0px 30px;
  box-sizing: border-box;
  font-size: 28px;
}
.el_definite {
  height: calc(100% - 230px);
  box-sizing: border-box;
  padding-top: 20px;
  border-top: 1px solid #e3e3e3;
}
.el_definite>div:first-child {
  display: inline-block;
  width: 268px;
  height: 84px;
  font-size: 32px;
  color: #ce1e2c;
  text-align: center;
  line-height: 84px;
  border: 1px solid #ce1e2c;
  border-radius: 6px;
  margin-left: 22px;
}
.el_definite>div:last-child {
  display: inline-block;
  width: 268px;
  height: 84px;
  font-size: 32px;
  background-color: #ce1e2c;
  text-align: center;
  line-height: 84px;
  border-radius: 6px;
  color: #ffffff;
  margin-left: 20px;
}
.el_window>.el_cloose, .el_window2>.el_cloose {
  position: absolute;
  right: 24px;
  top: 6px;
  font-size: 28px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}
.el_top_font {
  font-size: 34px;
  color: rgb(102,102,102);
  margin-top: 38px;
  text-align: center;
}
.el_choose {
  font-size: 26px;
  position: fixed;
  bottom: 138px;
  right: 16px;
}
.el_choose>li {
  width: 84px;
  height: 84px;
  border-radius: 42px;
  border: 1px solid rgb(205,205,205);
  text-align: center;
  line-height: 84px;
  margin-top: 22px;
  list-style: none;
  background: #fff;
}
.el_choose>li>div {
  text-decoration: none;
  color: rgb(0,191,142);
}
/*.mint-loadmore{*/
  /*height: calc(100% - 500px);*/
  /*overflow: auto;*/
/*}*/
.main-body{
  height: calc(100% - 500px);
  overflow-y: scroll;
}

.mint-msgbox{
  background-color: rgba(0, 0, 0, 0.76);
  width: 50%;
  border-radius: 16px;
  font-size: 24px;
}
.mint-msgbox-message {
  color: #fff;
}
.mint-msgbox-btn{
  background-color: rgba(0, 0, 0, 0);
}
.v-modal{
  background: rgba(141, 141, 141, 0);
}
.mint-msgbox-confirm{
  color: #fff;
}
.mint-msgbox-content {
  border-bottom: 1px solid #ffffff;
  padding: 40px 20px;
}

.el_right {
  padding: 18px 28px 18px 0;
  float: right;
}
.el_timeTxt {
  display: inline-block;
  font-size: 24px;
  vertical-align: middle;
  color: #d95c34;
}
.el_btg_time {
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}
.el_btg_time>li:first-child {
  width: 60px;
  margin-left: 6px;
}
.el_btg_time>li {
  text-align: center;
  color: #fff;
  margin-left: 18px;
  float: left;
  display: block;
  position: relative;
  height: 40px;
  line-height: 40px;
  background-color: #ea512f;
  border-radius: 6px;
  width: 40px;
  box-sizing: border-box;
  font-size: 18px;
}
li {
  list-style: none;
}
.el_btg_time>li:after {
  color: #000;
  content: ":";
  display: block;
  position: absolute;
  top: -2px;
  right: -10px;
}
