/*公用的*/
.borderBox{ box-sizing: border-box;}
.g-red, .currGroups{  color: #ea512f  }
.color999{
  color: #999;
  font-size: 26px;
}
/*浮动*/
._left{float: left}
._right{float: right}
.clean:after{
  content: "";
  display: block;
  clear: both;
}
/*拼团 头部*/
.header{
  width: 100%;
  height: 90px;
  background:#f0f0f0;
  font-size: 0;
}
.myGroups{
  display: inline-block;
  width: 50%;
  height: 90px;
  font-size:28px;
  text-align: center;
  line-height: 90px;
}

.groups{
  border-bottom:1px solid #dcdcdc;
  font-size: 0;
  display: flex;
  justify-content: space-between;
}
.everyGroups{
  width: auto;
  height: 88px;
  padding: 0 24px;
  display:inline-block;
}
.everyGroups>a{
  display: block;
  height: 87px;
  line-height: 87px;
  font-size:28px;
  color:#333;
  padding: 0 8px;
}
.groupsCur{
  border-bottom:5px solid #ea512f;
}

/*每一个拼团的信息*/
/*.everyGroup{*/
/*display: none;*/
/*}*/
.everyGroup:first-child{
  display: block;
}
.groupMsg{
  padding: 26px 38px 30px 30px;
}
.leftImg{
  width: 160px;
  height: 160px;
  padding: 0 24px 0 0;
}
.leftImg>img{
  width: 100%;
  height: 100%;
}
.rightText{
  width: calc(100% - 184px);
  height: 160px;
  position: relative;
}
.groupTitle{
  width: 100%;
  display:block;
  line-height: 33px;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp:2;
}
.groupTime{
  font-size: 26px;
  position: absolute;
  left: 0;
  bottom: 38px;
}
.groupPrice{
  font-size: 26px;
  color: #999;
  position: absolute;
  left: 0;
  bottom:0;
}
.msgSign{
  color: #8c8c8c;
  font-size: 26px;
  line-height:36px;
  min-height: 54px;
  padding: 10px 14px 10px 34px;
  text-align: left;
  vertical-align: baseline;
  background: #f2f2f2;
  border-bottom: 1px solid #dcdcdc;
}
.itemPerson{
  width: 100%;
  height: 114px;
  padding: 20px 38px 20px 30px;
  border-bottom: 1px solid #dcdcdc;
}
.leftPerson{
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;

}
.groupName{
  margin-left: 18px;
}
.payState{
  padding-right: 8px
}
.personImg{
  width: 73px;
  height: 73px;
  border-radius: 45%;
}
.rightPrice{
  display: flex;
  align-items: center;
  height: 100%;
}
.payment{
  height: 98px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 50px;
}
.payBtn{
  display: block;
  width: 146px;
  height: 54px;
  border-radius: 5px;
  border: 1px solid #d1d1d2;
  font-size: 26px;
  line-height: 54px;
  text-align: center;
}
.g-payBtn{width: 170px;}
.height18{
  width: 100%;
  height:18px;
  background:#f4f4f4;
}

.orderNum{
  line-height: 56px;
  font-size: 26px;
  padding: 0 38px 0 30px;
}
.numberTxt{color:#999;}

/*商品详情页*/
/*banner*/
.swiper-slide{
  width: 750px;
  height: 750px;
}
.swiper-slide{
  width: 100%;
  height: 100%;
}
.goodInfo{
  border-bottom: 1px solid #e3e3e3;
}
.goodInfoName{
  width: 100%;
  font-size: 32px;
  padding: 30px 58px 0 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp:2;
}
.infoPrize{
  padding: 20px 58px 20px 30px;
  color: #ea512f;
  font-size: 32px;
  vertical-align: bottom;
}
.size44{
  font-size: 44px;
  margin-right: 30px;
}
.retailPrice{
  font-size: 24px;
  color: #999;
}
.infoRemove{
  padding: 0 58px 30px 30px;
}
.fix-bottom-group{
  position: fixed;
  bottom: 0;
  z-index: 99;
  width: 100%;
  height: 96px;
  background: #fff;
}
.bottom-1{
  width: 216px;
  border-top: 1px solid #e3e3e3;
  height:100%;
}
.collect, .home_icon2{
  display: inline-flex;
  position: relative;
  width: 106px;
  height:100%;
  border-right:1px solid #e3e3e3;
  align-items: flex-end;
  justify-content: center;
  font-size: 20px;
  float: left;
}
.collect{
  border-right:none;
}
.home_icon2:before{
  display:block;
  width: 42px;
  height: 36px;
  content:'';
  background: url("../../assets/images/Shape2x.png") no-repeat center;
  position: absolute;
  top:18px;
  left:calc((98px - 34px)/2);
}
.collect:before{
  display:block;
  width: 42px;
  height: 40px;
  content:'';
  background: url("../../assets/images/icon22x.png") no-repeat center;
  position: absolute;
  top:16px;
  left:calc((98px - 34px)/2);
}
.bottom-2{
  width: calc(100% - 216px);
  height: 100%;
}
.addCar{
  width: 188px;
  height:100%;
  display: inline-block;
  background: #e6e6e6;
  border: 1px solid #e3e3e3;
  border-bottom: none;
  color: #797979;
  font-size: 30px;
  text-align: center;
  line-height: 96px;
}
.oneBuy{
  width: 182px;
  height:100%;
  display: inline-block;
  color: #fff;
  font-size: 30px;
  text-align: center;
  line-height: 96px;
  background:#ff734f;
}
.fightGroup{
  width: 164px;
  height:100%;
  display: inline-block;
  color: #fff;
  font-size: 30px;
  text-align: center;
  line-height: 96px;
  background: #da451f;
}
.groupHead{
  position: absolute;
  bottom: 0;
  left: 0;
}
/*图文详情*/
.d_switch{height: 60px;}
.d_switch a{height: 60px;line-height: 60px;background: #f5f5fa;width:100%;text-align: center;display: inline-block}
.d_switch a.cur{color: #999999;}
.d_switch:after{display:none}
.d_switch a:before{ content: "";  display: inline-block;  width: 32px;  height: 32px;  background-image: url(../images/imgs.png);  position: relative;  left: -14px;  top:6px;}
.d_switch a.cur:after, .d_switch a:hover:after{display:none;}
.d_btg_des{border-bottom: none}

/*商家运费规则*/
#delivery{
  padding: 0px 25px;
  border-bottom: 1px solid #E3E3E3;
  color: #666;
  font-size: 26px;
  position: relative;
  cursor: pointer;
  height: 80px;
}
#delivery>p{
  position: absolute;
  display: block;
  padding:20px 0px;
  width: 100%;;
}
#delivery>p>img{
  display: inline-block;
  padding-right:6px;
}
#delivery>p>span{margin-left:10px;}

.cus-name {
  width: 100%;
  height: 80px;
  line-height: 80px;
  font-size: 26px;
  color: #666;
  background: #fff;
  box-sizing: border-box;
}
.cus-name .link_name {
  color: #666;
  display: inline-block;
  padding: 0 9px 0 48px;
  margin-left: 35px;
  position: relative;
}
.cus-name .link_name:before {
  content: '';
  display: block;
  width: 34px;
  height: 27px;
  background: url(../../assets/images/icon.png) no-repeat;
  background-position: 0 0;
  position: absolute;
  top: 24px;
  left: 0;
}
.cus-name .link_btn {
  display: block;
  height: 80px;
  line-height: 80px;
  padding: 0 9px;
  position: relative;
  margin: 0 41px 0 0;
  color: #666;
}
.cus-name .link_btn:after {
  content: '';
  width: 17px;
  height: 30px;
  display: block;
  position: absolute;
  background: url(../../assets/images/icon.png) no-repeat;
  background-position: -50px -50px;
  top: 3px;
  bottom: 0;
  right: -21px;
  margin: auto;
}
.r {
  float: right;
}
em, i {
  font-style: normal;
}
.spxq_property p {
  padding: 0;
  width: 640px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 70px;
}
.spxq_property p span {
  color: #999;
  padding-right: 30px;
}
.spxq_property p b {
  padding: 4px;
  color: #666;
  border-radius: 4px;
  display: inline-block;
  width: 80px;
  text-align: center;
}
b, strong {
  font-weight: normal;
}
body, button, input, select, textarea {
  font: 28px/1.5 'Microsoft Yahei', Arial, Helvetica, sans-serif;
  outline: none;
  color: #444;
}
.spxq_property {
  padding: 26px 25px;
  border-bottom: 1px solid #e3e3e3;
  position: relative;
}
.spxq_property:after {
  content: "";
  display: block;
  background: url(../images/icon.png) no-repeat;
  background-position: -50px -50px;
  width: 17px;
  height: 30px;
  position: absolute;
  left: 691px;
  top: 48%;
}
.spxq_intro {
  font-size: 24px;
}
#wrap {
  position: relative;
  margin: 0 auto;
  top: 0;
  z-index: 1;
  background: inherit;
  margin-bottom: 96px;
  overflow-x: hidden;
  height: 100%;
}
.d_switch a.cur:after, .d_switch a:hover:after {
  content: '';
  display: none;
  height: 4px;
  background: #d80c18;
  position: absolute;
  bottom: 0;
  margin: 0 10%;
  width: 80%;
}
.hide {
  display: none!important;
}
.spxq_intro .abstract {
  color: #444;
  padding: 30px 25px;
  border-bottom: 1px solid #e3e3e3;
}
a {
  text-decoration: none;
  outline: none;
  blr: expression(this.onFocus=this.blur());
  color: #444;
}

/*走马灯部分开始*/
.el-carousel__item>img{
  width: 100%;
  height: 100%;
}
.el-carousel__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  overflow: hidden;
  z-index: 0;
}
.el-carousel__item.is-active {
  z-index: 2;
}
.el-carousel__item--card, .el-carousel__item.is-animating {
  transition: transform .4s ease-in-out;
}
.demo-carousel .el-carousel__item:nth-child(2n) {
  background-color: #99a9bf;
}
.el-carousel__arrow--right {
  right: 16px;
}
.el-carousel__arrow {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  height: 36px;
  width: 36px;
  cursor: pointer;
  transition: .3s;
  border-radius: 50%;
  background-color: rgba(31,45,61,.11);
  color: #fff;
  position: absolute;
  top: 50%;
  z-index: 10;
  transform: translateY(-50%);
  text-align: center;
  font-size: 12px;
}
[class*=" el-icon-"], [class^=el-icon-] {
  font-family: element-icons!important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.el-icon-arrow-right:before {
  width: 48px;
  height: 48px;
  content: '';
  display: block;
  background-image: url("../../assets/images/right.png");
}
.el-icon-arrow-left:before {
  width: 48px;
  height: 48px;
  content: '';
  display: block;
  background-image: url("../../assets/images/left.png");
}
#delivery:after {
  content: "";
  display: block;
  background: url(../../assets/images/icon.png) no-repeat;
  background-position: -50px -50px;
  width: 17px;
  height: 30px;
  position: absolute;
  left: 691px;
  top: 34%;
}
.demo-block {
  border: 1px solid #ebebeb;
  border-radius: 3px;
  transition: .2s;
}
.demo-block .source {
  padding: 24px;
}
.el-carousel {
  overflow-x: hidden;
  position: relative;
}
.demo-carousel .el-carousel__container {
  text-align: center;
}
.el-carousel__container {
  position: relative;
  height: 300px;
}
.el-carousel__indicators--outside {
  bottom: 26px;
  text-align: center;
  position: static;
  transform: none;
}
.el-carousel__indicator {
  display: inline-block;
  background-color: transparent;
  padding: 12px 4px;
  cursor: pointer;
}
.el-carousel__indicators--outside button {
  background-color: #c0c4cc;
  opacity: .24;
}
.el-carousel__button {
  display: block;
  opacity: .48;
  width: 30px;
  height: 2px;
  background-color: #fff;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  transition: .3s;
}
.el-carousel__item h3 {
  color: #475669;
  font-size: 18px;
  opacity: 0.75;
  line-height: 300px;
  margin: 0;
}
.el-carousel__indicator.is-active button {
  opacity: 1;
}
.el-carousel__item:nth-child(2n) {
  background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n+1) {
  background-color: #d3dce6;
}
.carousel-arrow-right-enter, .carousel-arrow-right-leave-active {
  transform: translateY(-50%) translateX(10px);
  opacity: 0;
}
.carousel-arrow-left-enter, .carousel-arrow-left-leave-active {
  transform: translateY(-50%) translateX(-10px);
  opacity: 0;
}
/*走马灯部分结束*/
